@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
body {
  background: white;
}

.intro {
  background-color: rgb(0, 24, 102);
  height: 700px;
  width: 1270px;
}

.fa-check-square-o {
  font-size: 60px;
  color: #fff;
  margin-top: 170px;
  margin-bottom: 10px;
  text-align: center;
}

.title h1 {
  display: inline-block;
  border-bottom: #fff 1px solid;
  border-top: #fff 1px solid;
  text-align: center;
  color: #fff;
  font-family: georgia;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 200px;
  margin-left: 392px;
}

.props {
  height: 120px;
  width: 500px;
  margin-right: 10px;
  display: inline;
}

/* perspective */

.flip-container {
  perspective: 1000;
  margin: 5px;
  display: inline-block;
}
/* turning on hover */

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 275px;
  height: 250px;
  line-height: 250px;
  text-align: center;
  font-size: 30px;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
}
/* flipping speed here */

.flipper {
  transition: 0.7s;
  transform-style: preserve-3d;

}
/* making the the other side hidden while flipping */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front side is in front of a back side */

.front {
  z-index: 2;
  background-color: tomato;
  color: white;
}
/* back side */

.back {
  transform: rotateY(180deg);
  background-color: lightblue;
  height: 250px;
  width: 275px;
}

.back p {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Kaushan Script', cursive;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #333;
  color: white;
  height: 250px;
  width: 275px;
}
