@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
body {
  background: white;
}

.props {
  height: 120px;
  width: 500px;
  margin-right: 10px;
  display: inline;
}

/* perspective */

.flip-container {
  perspective: 1000;
  margin: 5px;
  display: inline-block;
}
/* turning on hover */

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 250px;
  height: 250px;
  line-height: 250px;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
  display: inline-block;
}
/* flipping speed here */

.flipper {
  transition: 0.7s;
  transform-style: preserve-3d;

}
/* making the the other side hidden while flipping */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front side is in front of a back side */

.front {
  z-index: 2;
  background-color: tomato;
  color: white;
}
/* back side */

.back {
  transform: rotateY(180deg);
  background-color: lightblue;
}

.back p {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Kaushan Script', cursive;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #333;
  color: white;
}
