<style>

body {
  margin: 0 !important;
  text-align: center;
  font-family: helvetica neue;
}

.profile {
  border-radius: 50%;
  height: 300px;
  width: 225px;
}

.headline {

}

.left-column {
  
}
</style>
